blockquote{
	background-image: url(../images/salmon/blockquote-salmon.png);
}

.table tbody tr.info>td{
	color: @white;
}
.alert-info{
	a{
		color: @grayLight;
	}
}
.module_ms3,
.moduletext_ms3,
.moduletable_ms3{
	background-color: @ms1Color;
}
.feed_ms1{
	a{
		color: @ms1Color;
	}
}