blockquote{
	background-image: url(../../images/mint/blockquote-mint.png);
}
.mondrianFtBlog{
	.nav-tabs{
		> li{
			&.active{
				a{
					background-color: @btnPrimaryBackground !important;
					&:hover{
						background-color: @btnPrimaryBackground !important;
					}
				}
			}
			a{
				&:hover{
					background-color: @btnPrimaryBackground !important;
				}
			}
		}
	}
}
a[data-icon="icon-html5"]{
	background-image: url(../../images/mint/icon-html5.png);
}
a[data-icon="icon-jquery"]{
	background-image: url(../../images/mint/icon-jquery.png);
}
a[data-icon="icon-css3"]{
	background-image: url(../../images/mint/icon-css3.png);
}
a[data-icon="icon-bootstrap"]{
	background-image: url(../../images/mint/icon-bootstrap.png);
}
a[data-icon="icon-joomla"]{
	background-image: url(../../images/mint/icon-joomla.png);
}
a[data-icon="icon-svg"]{
	background-image: url(../../images/mint/icon-svg.png);
}

.table tbody tr.info>td{
	color: @white;
}
.alert-info{
	a{
		color: @grayLight;
	}
}
.module_ms3, .moduletable_ms3, .moduletext_ms3{
	background-color: @ms1Color;
}
dl.article-info dd:hover{
	background-color: @green;
	color: @textColor;
}