blockquote{
	background-image: url(../../images/gray/blockquote-gray.png);
}
.mondrianFtBlog{
	.nav-tabs{
		> li{
			&.active{
				a{
					background-color: @blue !important;
					&:hover{
						background-color: @blue !important;
					}
				}
			}
			a{
				&:hover{
					background-color: @blue !important;
				}
			}
		}
	}
}
a[data-icon="icon-html5"]{
	background-image: url(../../images/gray/icon-html5.png);
}
a[data-icon="icon-jquery"]{
	background-image: url(../../images/gray/icon-jquery.png);
}
a[data-icon="icon-css3"]{
	background-image: url(../../images/gray/icon-css3.png);
}
a[data-icon="icon-bootstrap"]{
	background-image: url(../../images/gray/icon-bootstrap.png);
}
a[data-icon="icon-joomla"]{
	background-image: url(../../images/gray/icon-joomla.png);
}
a[data-icon="icon-svg"]{
	background-image: url(../../images/gray/icon-svg.png);
}
[class*="feed_ms1"]{
	a{
		color: @ms1Color;
	}
}
.table tbody tr.info>td{
	color: @white;
}
.alert-info{
	a{
		color: @grayLight;
	}
}
.module_ms3,
.moduletext_ms3,
.moduletable_ms3{
	background-color: @ms1Color;
}