blockquote{
	background-image: url(../images/blue/blockquote-blue.png);
}
.mondrianFtBlog{
	.nav-tabs{
		> li{
			&.active{
				a{
					background-color: @red !important;
					&:hover{
						background-color: @red !important;
					}
				}
			}
			a{
				&:hover{
					background-color: @red !important;
				}
			}
		}
	}
}
.hour{
	 color: @white;
}
a[data-icon="icon-html5"]{
	background-image: url(../images/blue/icon-html5.png);
}
a[data-icon="icon-jquery"]{
	background-image: url(../images/blue/icon-jquery.png);
}
a[data-icon="icon-css3"]{
	background-image: url(../images/blue/icon-css3.png);
}
a[data-icon="icon-bootstrap"]{
	background-image: url(../images/blue/icon-bootstrap.png);
}
a[data-icon="icon-joomla"]{
	background-image: url(../images/blue/icon-joomla.png);
}
a[data-icon="icon-svg"]{
	background-image: url(../images/blue/icon-svg.png);
}
[class*="feed_ms1"]{
	a{
		color: @blueDark;
	}
}
.table tbody tr.info>td{
	color: @white;
}
.alert-info{
	a{
		color: @grayLight;
	}
}