@media (max-width: 1200px) {
	[data-icon="icon-car"]{
		.background-size(cover);
		background-image: url(../../images/green/icon-car.png);
		max-width: 100%;
		height: 85px;
	}
	[data-icon="icon-cloud"]{
		.background-size(cover);
		background-image: url(../../images/green/icon-cloud.png);
		max-width: 100%;
		height: 85px;
	}
	[data-icon="icon-diamond"]{
		.background-size(cover);
		background-image: url(../../images/green/icon-diamond.png);
		height: 85px;
		max-width: 100%;
	}
	[data-icon="icon-beaker"]{
		.background-size(cover);
		background-image: url(../../images/green/icon-beaker.png);
		height: 85px;
		max-width: 100%;
	}
	[data-icon="icon-cook"]{
		.background-size(cover);
		background-image: url(../../images/green/icon-cook.png);
		height: 85px;
		max-width: 100%;
	}
	[data-icon="icon-plane"]{
		.background-size(cover);
		background-image: url(../../images/green/icon-plane.png);
		height: 85px;
		max-width: 100%;
	}
	#sliderNav{
		right: 40px;
		bottom: 60px;
	}
}
@media (max-width: 1199px) {
	#top{
		.nav{
			>li{
				padding-left: 7px;
				padding-right: 7px;
			}
		}
		.navbar .btn{
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
	}
}
@media (max-width: 979px) {
	.navbar .dropdown-menu .sub-menu{
		left: auto;
		margin-top: 0;
		position: static;
		top: auto;
		visibility: visible;
	}
	.wrapper-toolbar{
		position: relative;
	}
	[data-icon="icon-car"]{
		height: 60px;
	}
	[data-icon="icon-cloud"]{
		height: 60px;

	}
	[data-icon="icon-diamond"]{
		height: 60px;
	}
	[data-icon="icon-beaker"]{
		height: 60px;
	}
	[data-icon="icon-cook"]{
		height: 60px;
	}
	[data-icon="icon-plane"]{
		height: 60px;
	}
	.mondrianFtBlog .nav-tabs>li a{
		padding-left: 10px;
		padding-right: 10px;
	}
	.ul-logos{
		text-align: center;
		li{
			float: none !important;
			display: inline-block;
			.ie7-inline-block();
		}
	}
	.sb1.sb2{
		#sidebar1:first-child{
				&::after{
					left: 97%;
				}
				&::before{
					left: 97%;
				}
			+ #main{
				+ #sidebar2{
					&::after{
						right: 97%;
					}
					&::before{
						right: 97%;
					}
				}
			}
		}
	}
	.sb1{
		#sidebar1:first-child{
				&::after{
					left: 97%;
				}
				&::before{
					left: 97%;
				}
		}
	}
	.sb2{
		#sidebar2{
				&::after{
					right: 97%;
				}
				&::before{
					right: 97%;
				}
		}
	}
	.wrappToolbar {
		.transition(none);
		height: auto !important;
		#toolbar{
			.navbar{
				margin-bottom: 0;
			}
			.navbar-inner{
				min-height: 25px;
			}
		     .navbar-fixed-top {
		     	.btn-navbar{
					height: auto;
					.icon-bar{
				 		display: block;
					}
		     	}
		     }
		}
	}
	.wrappToolbar #toolbar .navbar-fixed-top {
	    position: static;
	    bottom: auto;
	    margin-left: 0;
	}
	#top{
		.nav{
			display: table;
			float: none;
			left: auto;
			margin-left: auto;
			margin-right: auto;
			>li{
				display: block;
				float: none;
			}
		}
		.navbar .btn{
			padding-left: 25px !important;
			padding-right: 25px !important;
		}
	}
	#menu,
	#bottom-menu{
		.btn-navbar{
			margin-top: 10px;
		}
	}
	[class^="span"], [class*="span"]{
		&.icon-3x{
			font-size: 2em;
		}
	}
	.toolbarDisplayed .wrappToolbar #toolbar .navbar-fixed-top{
		position: static;
	}
	#toolbar .navbar .dropdown-menu li a, #toolbar .navbar .dropdown-menu li span.separator{
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media (max-width: 767px) {
	body {
	    padding-left: 0;
	    padding-right: 0;
	}
	.main-wrapp {
		padding-left: 20px;
		padding-right: 20px;
	}
	.mondrianFtBlog{
		[class^="column-"], [class*="column-"]{
			&[class^="span"], &[class*="span"] {
				border-right: none;
				&::after{
					.border-radius(5px);
					content: none;
					display: none;
					height: 0;
					width: 0;
				}
				&::before{
					.border-radius(5px);
					content: none;
					display: none;
					height: 0;
					width: 0;
				}
			}
		}
		.tab-content{
			padding-left: 0;
			padding-right: 0;
		}
		hr:last-child{
			margin-bottom: 0;
		}
		.main-wrapp {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.module_ms1,.moduletable_ms1,.moduletext_ms1{
		&.first.last,&:first-child:last-child{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.module_ms2,.moduletable_ms2,.moduletext_ms2{
		&.first.last,&:first-child:last-child{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	#grid-bottom2{
		text-align: center;
	}
	.wrapper-footer{
		padding-top: 0;
		#footer{
			margin: 0;
			text-align: center;
			width: 100% !important;
			> .container{
				padding-top: 10px;
			}
		}
	}
	.BgAlternate{
		display: none;
	}
	a[data-icon="icon-jquery"]{
		.background-size(cover);
		height: 38px;
		width: 166px;
	}
	.ul-logos{
		text-align: center;
		li{
			float: left !important;
			display: block;
		}
	}
	#top{
		.nav{
			display: table;
			float: none;
			left: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
	#featured{
		#slider{
			> div > div > div{
				img{
					min-height: 520px;
				}
			}
		}
	}
	#sliderNav{
		right: 4px;
	}
	.slidermanDescriptionCont{
		> div{
			height: auto !important;
			&:first-child{
				height: 380px !important;
			}

		}
	}
	.slideTitle{
		h1{
			font-size: 32px;
		}
		h2{
			font-size: 18px;
		}
	}
	.slideTitle{
		padding:10px 30px !important;
	}
	
	#sidebar1, #sidebar2 {
		border-right: 0;
		border-left: 0;
		&::after {
			display: none;
		}
		&::before {
			display: none;
		}
	}

	.module_ms1.first.last, .moduletable_ms1.first.last, .moduletext_ms1.first.last, .module_ms1:first-child:last-child, .moduletable_ms1:first-child:last-child, .moduletext_ms1:first-child:last-child{
		margin-bottom: 20px;
	}
	#sidebar1,#sidebar2{
		.module{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.sb1.sb2 #sidebar1:first-child,
	.sb1 #sidebar1:first-child{
		border-right: none;
	}
	.sb1.sb2 #sidebar1:first-child::before,.sb1 #sidebar1:first-child::before,.sb1.sb2 #sidebar1:first-child::after,.sb1 #sidebar1:first-child::after{
		content: none;
		display: none;
	}
	.affix{
		position: static;
	}
	.doc-mondrian .nav-tabs+.current{
		padding-left: 10px;
		padding-right: 10px;
	}
	#logo{
		margin-bottom: 20px;
	}
}
