@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.textColor{
	color: @textColor;
}
.text-large{
	font-size: @fontSizeLarge;
}
p{
	margin-top: 5px;
}
.bold{
	font-weight: bold;
}
.item-page{
	> .page-header{
		margin-bottom: 0;
		border-bottom: none;
		h2{
			a{
				text-decoration: underline;
			}
			margin-bottom: 0;
			font-size: 20px;
			text-transform: uppercase;
		}
	}
}
.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
::selection{
	background-color: @selectionColor;
}
::-moz-selection{
	background-color: @selectionColor;
}
blockquote{
	background-repeat: no-repeat;
	border-left: none;
	padding-left: 35px;
	&.pull-right{
		padding-right: 35px;
		border-right: none;
		background-position: top right;
	}
	&.blue-theme{
		background-image: url(../../images/blue/blockquote-blue.png)
	}
	&.brown-theme{
		background-image: url(../../images/brown/blockquote-brown.png)
	}
	&.salmon-theme{
		background-image: url(../../images/salmon/blockquote-salmon.png)
	}
	&.turquoise-theme{
		background-image: url(../../images/turquoise/blockquote-turquoise.png)
	}
	&.gray-theme{
		background-image: url(../../images/gray/blockquote-gray.png)
	}
	&.mint-theme{
		background-image: url(../../images/mint/blockquote-mint.png)
	}

}
[data-icon]{
	display: block;
}
a[data-icon="icon-html5"]{
	background-image: url(../../images/green/icon-html5.png);
	height: 104px;
	width: 74px;
}
a[data-icon="icon-jquery"]{
	background-image: url(../../images/green/icon-jquery.png);
	height: 54px;
	width: 235px;
}
a[data-icon="icon-css3"]{
	background-image: url(../../images/green/icon-css3.png);
	height: 104px;
	width: 74px;
}
a[data-icon="icon-bootstrap"]{
	background-image: url(../../images/green/icon-bootstrap.png);
	height: 36px;
	width: 177px;
}
a[data-icon="icon-joomla"]{
	background-image: url(../../images/green/icon-joomla.png);
	height: 74px;
	width: 74px;
}
a[data-icon="icon-svg"]{
	background-image: url(../../images/green/icon-svg.png);
	height: 29px;
	width: 75px;
}
[data-icon="icon-car"]{
	background-image: url(../../images/green/icon-car.png);
	height: 100px;
	width: 100px;
}
[data-icon="icon-cloud"]{
	background-image: url(../../images/green/icon-cloud.png);
	height: 100px;
	width: 100px;
}
[data-icon="icon-diamond"]{
	background-image: url(../../images/green/icon-diamond.png);
	height: 100px;
	width: 100px;
}
[data-icon="icon-beaker"]{
	background-image: url(../../images/green/icon-beaker.png);
	height: 100px;
	width: 100px;
}
[data-icon="icon-cook"]{
	background-image: url(../../images/green/icon-cook.png);
	height: 100px;
	width: 100px;
}
[data-icon="icon-plane"]{
	background-image: url(../../images/green/icon-plane.png);
	height: 100px;
	width: 100px;
}
.no-responsive{
	[data-icon="icon-car"]{
		.background-size(cover);
		height: 100px;
		width: 95px;
	}
	[data-icon="icon-cloud"]{
		.background-size(cover);
		height: 100px;
		width: 95px;
	}
	[data-icon="icon-diamond"]{
		.background-size(cover);
		height: 100px;
		width: 95px;
	}	
	[data-icon="icon-beaker"]{
		.background-size(cover);
		height: 100px;
		width: 95px;
	}
	[data-icon="icon-cook"]{
		.background-size(cover);
		height: 100px;
		width: 95px;
	}
	[data-icon="icon-plane"]{
		.background-size(cover);
		height: 100px;
		width: 95px;
	}
}
ul.ul-inline{
	li{
		float: left;
		margin-right: 40px;
		&:last-child{
			margin-right: 0;
		}
	}
}
.rm-margin-bottom{
	margin-bottom: 0 !important;
}
.rm-padding-side{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.hero-unit{
	.border-radius(0 0 0 0);
}
code{
	background-color: transparent;
	border: none;
	color: @textColor;
	font-family:@sansFontFamily;
	font-size: 12px;
	font-weight: bold;
}
h1{
	font-size: 34px;
}
h2{
	font-size: 28px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 16px;
}
.muted{
	color: @gray;
}
dl.article-info{
	dd{
		.border-radius(4px 4px 4px 4px);
		&:hover{
			background-color: @blueDark;
			color: @white;
			a{
				color: @white;
			}
		}
	}
}
.alert{
	text-shadow: none;
}

.breadcrumbs,
.breadcrumb{
	font-size: 12px;
	margin-top: 10px;
	a,span{
		.ie7-inline-block();
		display: inline-block;
		height: 25px;
		line-height: 25px;
	}
	> span:last-child{
		.border-radius(4px);
		background-color: @blueDark;
		color: @white;
		padding-left: 5px;
		padding-right: 5px;
	}
	li:last-child{
		span{
			.border-radius(4px);
			background-color: @blueDark;
			color: @white;
			padding-left: 5px;
			padding-right: 5px;		
		}
	}
	.icon-caret-right{
		position: relative;
		display: inline-block;
		height: 10px;
		width: 10px;
		&:before{
			content: '.';
			display: block;
			font-size: 13px;
			height: 2px;
			position: absolute;
			right: 0;
			top: -3px;
			width: 7px;
		}
	}
}
.categories-list {
	.category-desc{
		padding-left: 15px;
	}
	ul li{
		.category-desc{
			padding-left: 0;
		}
	}
}
.nav-tabs{
	border-bottom: none;
	margin-bottom: 0;

	> li {
		background-color: @bodyBackground;
		padding-top: 3px;
		border-bottom: 2px solid @navtabsBgHover;
		margin-right: 0 !important;
		margin-top: 0;
		text-transform: uppercase;
		&:first-child{
			.border-radius(6px 0 0 0);
			a{
				.border-radius(6px 0 0 0) !important;
			}
		}
		&:last-child{
			.border-radius(0 6px 0 0) !important;
			a{
				.border-radius(0 6px 0 0) !important;
			}
		}
		&:hover{
			background-color: @navtabsBgHover;
		}

		> a{
			.border-radius(0) !important;
			background-color: @navtabsBg;
			border-color: @navtabsBg;
			color: @white;
			padding-left: 15px;
			padding-right: 15px;
			margin-right: 0;
			&:hover{
				border-color: @navtabsBgHover @navtabsBgHover @navtabsBgHover !important;
				background-color: @navtabsBgHover !important;
				color: @white;
			}
		}
	}
	> .active {
		background-color: @navtabsBg;

		> a{
			background-color: @navtabsBgHover !important;
			border-color: @navtabsBgHover !important;
			color: @white !important;
			text-decoration: none;
			&:hover{
				background-color: @navtabsBgHover;
				border-color: @navtabsBgHover @navtabsBgHover @navtabsBgHover;
				color: @white;
			}
		}
	}
	> .open{
		> a{
			background-color: @navtabsBgHover !important;
			border-color: @navtabsBgHover !important;
			color: @white !important;
		}
	}
	dd + dt.tabs{
		h3{
			.border-radius(6px 0 0 0);
			a{
				.border-radius(6px 0 0 0);
			}
		}
	}
	dt.tabs:last-child{
		h3{
			.border-radius(0 6px 0 0);
			a{
				.border-radius(0 6px 0 0);
			}
		}
	}
	dt h3 {
		background-color: @bodyBackground;
		padding-top: 3px;
		border-bottom: 2px solid @navtabsBgHover;
		margin-right: 0 !important;
		margin-top: 0;
		text-transform: uppercase;
		&:hover{
			background-color: @navtabsBgHover;
		}
		a{
			.border-radius(0);
			background-color:@navtabsBg;
			color: @white;
			display: block;
			font-size: 13px;
			font-weight: normal;
			padding: 8px 15px;
			border: 1px solid transparent;
			&:hover{
				background-color: @navtabsBgHover;
				border-color: @navtabsBgHover @navtabsBgHover @navtabsBgHover;
				color: @white;
				text-decoration: none;
			}
		}
	}
	dt:last-child{
		h3{
			padding-right: 0;
		}
	}
	dt.open h3 {
		background-color: @navtabsBgHover;
		a{
			background-color: @navtabsBgHover;
			color: @white !important;
			border-color: @navtabsBgHover;
			text-decoration: none;
		}
	}
	+ .current{
		border: 1px solid @navtabsBg;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		.page-header{
			border-bottom-color: @grayLighter - #222;
		}
	}
	&.nav-stacked{
		> li{
			padding-top: 0;
			a{
				border-color: @navtabsBg;
				&:hover{
					border-color: @navtabsBgHover;
				}
			}
			&:first-child{
				.border-radius(6px 6px 0 0) !important;
				a{
					.border-radius(6px 6px 0 0)!important;
				}
			}
			&:last-child{
				.border-radius(0 0 6px 6px) !important;
				a{
					.border-radius(0 0 6px 6px)!important;
				}
			}
		}
	}
}
.tab-content{
	border: 1px solid @navtabsBg;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	.page-header{
		border-bottom-color: @grayLighter - #222;
	}
}
dl.nav-tabs{
	padding-top: 0;
	> dd + dt{
		margin-left: 0;
	}
}
.tabs-below{
	> .nav-tabs{
		> li{
			border-bottom: none;
			padding-bottom: 3px;
			padding-top: 0;
			&:first-child{
				.border-radius(0 0 0 6px) !important;
				a{
					.border-radius(0 0 0 6px) !important;
				}
			}
			&:last-child{
				.border-radius(0 0 6px 0) !important;
				a{
					.border-radius(0 0 6px 0) !important;
				}
			}
		}
	}
}
.tabs-left{
	> .nav-tabs{
		border-right: none;
		margin-right: 0;
		> li{
			border-bottom: none;
			padding-left: 3px;
			padding-top: 0;
			a{
				margin-bottom: 0;
			}
			&:last-child{
				.border-radius(0 0 0 6px) !important;
				a{
					.border-radius(0 0 0 6px) !important;
				}
			}
		}
	}
}
.tabs-right{
	> .nav-tabs{
		border-left: none;
		margin-left: 0;
		> li{
			border-bottom: none;
			padding-right: 3px;
			padding-top: 0;
			a{
				margin-bottom: 0;
			}
			&:first-child{
				.border-radius(0 6px 0 0) !important;
				a{
					.border-radius(0 6px 0 0) !important;
				}
			}
			&:last-child{
				.border-radius(0 0 6px 0) !important;
				a{
					.border-radius(0 0 6px 0) !important;
				}
			}
		}
	}
}
.doc-mondrian{
	.nav-tabs+.current{
		padding-left: 0;
		padding-right: 0;
	}
}
.radio, .checkbox{
	float: none;
}
.alert-info{
	color: @white;
}
.icons-left{
	float: none;
}
.label-info, .badge-info{
	text-shadow: none;
}
.btn{
	.border-radius(2px);
	.transition(all 100ms cubic-bezier(0.42, 0, 1, 1));
	border: none;
	text-shadow: none;
	background-image:none;
	-ms-filter:none;
	    filter:none;
	&:hover{
		.transition(all 100ms cubic-bezier(0.42, 0, 1, 1));
		-webkit-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
		-moz-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
		-ms-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
		-o-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
		transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
	}
}
.btn-large{
	padding: 5px 35px;
}
.btn-group{
	ul.actions.dropdown-menu{
		padding: 5px 0;
	}
}
.btn-primary{
	background-color: @btnPrimaryBackground;
	background-image:none;
	-ms-filter:none;
	    filter:none;
}
#responsive-controls{
	padding-left: 10px;
	padding-right: 10px;
}
.table{
	thead{
		th{
			background-color: @navtabsBg;
			color: @tableThColor;
			font-weight: normal;
			a{
				color: @tableThColor;
			}
		}
	}
	th, td{
		text-align: center;
	}
}
#header{
	background-color: transparent;
	padding-bottom: 20px;
	margin-bottom: 0;
	.wrapp-logo{
		padding-top: 30px;
	}
}
.wrappToolbar{
	height: 0;
	position: relative;
	-webkit-transition: 0.24s ease-in-out height;
	-moz-transition: 0.24s ease-in-out height;
	-ms-transition: 0.24s ease-in-out height;
	-o-transition: 0.24s ease-in-out height;
	transition: 0.24s ease-in-out height;
	#toolbar{
	     .navbar-fixed-top {
	        position: absolute;
	        bottom: 0;
	        top: auto;
	        width: 100%;
	       
	        .btn-navbar{
			.box-shadow(none);
			 height: 7px;
			 border: none;
			 .icon-bar{
			 	display: none;
			 }
	        }
	        
	    }
	    .navbar .nav{
	    		.transition(.25s ease-in-out padding-bottom);
	    }
	}
}
.wrapp-btnToolbar{
	position: relative;
}
#btnToolbar{
   background-color: @navtabsBgHover;
   background-image: url(../../images/green/btnToolbar.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   .box-shadow(2px 1px 4px -1px);
   height: 40px;
   margin-right: 20px;
   margin-top: -11px;
   position: absolute;
   right: 0;
   width: 40px;
   z-index: 1031;
   &:hover{
   	cursor: pointer;	
   }
}
.toolbarDisplayed {
	.wrappToolbar {
		height: auto;
		#toolbar .navbar-fixed-top{
			position: fixed;
			bottom: auto;
			top: 0;
		}
	}
}
.nav.well.nav-list>li>a, .nav.well.nav-list .nav-header{
	margin-left: -5px;
	margin-right: -5px;
}
#sidebar1,
#sidebar2{
	overflow: visible;
	#form-login-username,
	#form-login-password{
		label{
			float: none;
		}
	}
	[class^="module"], [class*="module"]{
		&:first-child{
			> h3{
				margin-top: 0;
			}
		}
	}
}
#featured{
	margin-bottom: 0;
}
.wrapper-toolbar,
.mondrian-main,
#footer{
	z-index: 2;
}
.items-leading{
	display: block;
}

.wrapper-menu,
.wrapper-bottom-menu {
	background-color: @navbarBackground;
}

.mondrianFtBlog{
	.btn-group{
		.btn{
			min-width: auto;
		}
	}
	.items-leading{
		.clearfix();
		.full-leading:nth-child(odd) {
			background-color: @ms1Background;
			color: @ms1Color;
			padding: 0 5px;
		}
		.img_caption{
			background-color: @ms1Color;
			color: @white;
			padding: 4px;
		}
		[class^="leading-"], [class*="leading-"]{
			padding-bottom: 10px;
			> .page-header{
				border-bottom: none;
				h2{
					font-size: 20px;
					text-align: center;
				}
			}
			h2{
				font-size: 20px;
				text-align: center;
				a{
					color:@ms1Color;
				}
			}
			.muted{
				color: @ms1Color;
			}
		}
	}
	[class^="column-"], [class*="column-"]{
		> .page-header{
			border: none;
			color: @linkColor;
			display: table;
			margin-left: auto;
			margin-right: auto;
			margin-top: 0;
			h2{
				font-size: 20px;
			}
		}
		&[class^="span"], &[class*="span"] {
			border-right: 2px solid @hrBorder;
			position: relative;
			.box-sizing(border-box);
			padding: 0 5px;
			&:last-of-type {
				border-right: 0;
				&:after{
					background-color: transparent;
				}
				&:before{
					background-color: transparent;
				}
			}
			&:after{
				.border-radius(5px);
				background-color: @hrBorder;
				content: '';
				height: 12px;
				right: -7px;
				position: absolute;
				top: 0;
				width: 12px;
			}
			&:before{
				.border-radius(5px);
				background-color: @hrBorder;
				content: '';
				height: 12px;
				right: -7px;
				position: absolute;
				bottom: 0;
				width: 12px;
			}
		}
	}
	.items-row{
		padding-bottom: 10px;
		padding-top: 10px;
		a{
			text-decoration: underline;
		}
		.btn{
			text-decoration: none;
			min-width: 132px;
		}
		.btn-group{
			.btn{
				min-width: auto;
			}
		}
	}
	.nav-tabs{
		display: table;
		margin-left: auto;
		margin-right: auto;
		> li{
			border: none;
			padding-top: 0;
			margin-right: 5px !important;
			&:last-child{
				margin-right: 0 !important;
			}
			&:hover{
				background-color: transparent;
			}
			&.active{
				background-color: transparent;
				a{
					background-color: @blueDark !important;
					text-decoration: none;
					border: none!important;
					&:hover{
						background-color: @blueDark !important;
						border: none!important;
					}
				}
			}
			a{
				.border-radius(3px) !important;
				background-color: transparent;
				border: none!important;
				color: @linkColor;
				padding: 2px 30px;
				&:hover{
					background-color: @blueDark !important;
					border: none!important;
					color: @white;
				}
			}
		}
		&.nav-stacked{
			> li{
				margin-bottom: 5px;
				a{
					.border-radius(3px) !important;
				}
			}
		}
	}
	.tab-content{
		border: none;
	}
	hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.blog{
		margin-bottom: 0;
	}
}
.nav-tabs.mondrian-nav-tabs{
		display: table;
		margin-left: auto;
		margin-right: auto;
		> li{
			border: none;
			padding-top: 0;
			margin-right: 5px !important;
			&:last-child{
				margin-right: 0 !important;
			}
			&:hover{
				background-color: transparent;
			}
			&.active{
				background-color: transparent;
				a{
					background-color: @blueDark !important;
					text-decoration: none;
					border: none!important;
					&:hover{
						background-color: @blueDark !important;
						border: none!important;
					}
				}
			}
			a{
				.border-radius(3px) !important;
				background-color: transparent;
				border: none!important;
				color: @linkColor;
				padding: 2px 30px;
				&:hover{
					background-color: @blueDark !important;
					border: none!important;
					color: @white;
				}
			}
		}
	+ .tab-content{
		border: none;
	}
}
.clear{
	clear: both;
}
.hour{
	.border-radius(3px);
	background-color: @hourBackground;
	border-bottom: 3px solid @hourBorderColor;
	margin-top: 10px;
	padding: 0 10px;
	text-align: right;
}

.footer-inner{
	padding-top: 14px;
}
dl.tabs{
	+ div.current{
		margin-bottom: 10px;
	}
}
iframe{
	border: 2px solid @hrBorder;
}
#footer{
	background-color: @navtabsBgHover;
	background-image:none;
	-ms-filter:none;
	    filter:none;
	font-size: 11px;
	a{
		color:@white;
	}
	.navbar .nav{
		>li{
			line-height: 50px;
			>a{
				display: inline-block;
				line-height: 20px;
				padding-bottom: 0;
				padding-left: 4px;
				padding-right: 4px;
				padding-top: 0;
				&.divider-vertical{
					border-left-color: @white;
					border-right: none;
					height: auto;
					margin-left: 0;
					margin-right: 0;
					text-decoration: underline;
				}
			}
			&:first-child{
				>a{
					&.divider-vertical{
						border-left: none;						
					}
				}
			}
			[class^="icon-"], [class*="icon-"]{
				font-size: 30px;
				margin-left: 10px;
			}
		}
	}
}
.pagination{
	.counter{
		line-height: 30px;
		margin-bottom: 0;
	}
}
.cat-items{
	.filters{
		.filter-search{
			float: right;
		}
	}
}
ul[class*="newsfeed"]{
	list-style: none;
	margin-left: 0;
	li h5{
		font-size: 14px;
	}
}
.archive{
	.filter-search button.button.btn{
		margin-bottom: 10px;
	}
}
// Modules
.color_two{
	background-color: @color_two;
	color: @white;
	a{
		color: @white;
		.transition(color .2s ease);
		&:hover{
			color: @grayLight;
		}
	}
	.btn-primary{
		&:hover{
			color: @white !important;
		}
	}
	&.navbar{
		.nav{
			display: table;
			float: none;
			left: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.navbar{
		.nav{
			display: table;
			float: none;
			left: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.nav{
		>li{
			padding: 10px 15px 10px;
			>a{
				border-bottom: 1px solid @borderCallToActionColor;
				border-top: 1px solid @borderCallToActionColor;
				font-size: 22px;
				padding-left: 0;
				padding-right: 0;
				&:hover{
					background-color: transparent;
					color: @grayLight;
				}
			}
			>.separator{
				color: @navbarLinkColor;
			}
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}
		}
		.dropdown-menu{
			.border-radius(0 0 0 0);
			li{
				>.separator{
					color: @navbarLinkColor;
					&:hover{
						background-color: @dropdownmenuBorderColor;
					}
				}
			}
		}
	}
}
.color_three{
	background-color: @color_three;
	
}
.color_six{
	background-color: @white;
}
[class^="module"], [class*="module"] {
	.clearfix();
	margin-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
	&.first.last,&:first-child:last-child{
		.box-sizing(content-box);
		float: none;
		margin-bottom: 0;
		// margin-left: -20px !important;
		// margin-right: -20px;
		width: auto;
	}
	iframe{
		width: 100%;
	}
}
.module_ms1,
.moduletable_ms1,
.moduletext_ms1,.color_four{
	.box-sizing(border-box);
	background-color: @ms1Background;
	color:@ms1Color;
	padding: 10px;
	> h3,[class^="module"] > h3, [class*="module"] > h3{
		margin-top: 0;
		text-align: center;
		text-transform: uppercase;
	}
	&.first.last,&:first-child:last-child{
		.box-sizing(content-box);
		float: none;
		margin-bottom: 0;
		// margin-left: -20px !important;
		// margin-right: -20px;
		width: auto;
	}
	.navbar .nav>li>a{
		color: #7d8c28;
	}
	a{
		color: #7d8c28;
	}
	.btn-primary{
		color: @white !important;
	}
}
.module_ms2,
.moduletable_ms2,
.moduletext_ms2,.color_five{
	.box-sizing(border-box);
	background-color: @ms2Background;
	color: @white;
	padding: 10px;
	> h3,[class^="module"] > h3, [class*="module"] > h3{
		margin-top: 0;
		text-align: center;
		text-transform: uppercase;
	}
	&.first.last,&:first-child:last-child{
		.box-sizing(content-box);
		float: none;
		margin-bottom: 0;
		// margin-left: -20px !important;
		// margin-right: -20px;
		width: auto;
	}
	a{
		color: @white;
		.transition(color .2s ease);
		&:hover{
			color: @color_one;
		}
	}
	.btn-primary{
		&:hover{
			color: @white !important;
		}
	}
}
.module_ms3,
.moduletable_ms3,
.moduletext_ms3{
	background-color: @blue;
	padding-bottom: 10px;
	> h3{
		.border-radius(3px);
		background-color: @white;
		color: @linkColor;
		font-size: 20px;
		text-align: center;
		padding: 10px;
	}
	.custom_ms3{
		.border-radius(3px);
		background-color: @white;
		padding: 10px;
	}
}
.module_ms4,
.moduletable_ms4,
.moduletext_ms4,
.color_one{
	.clearfix();
	background-color: @color_one;
	padding-top: 10px;
	padding-bottom: 10px;
	color: @white;
	a{
		color: @white;
		.transition(color .2s ease);
		&:hover{
			color: @grayLight;
		}
	}
	.btn-primary{
		&:hover{
			color: @white !important;
		}
	}
	&.first.last,&:first-child:last-child{
		.box-sizing(content-box);
		float: none;
		margin-bottom: 0;
		// margin-left: -20px !important;
		// margin-right: -20px;
		width: auto;
	}
	&.navbar{
		.nav{
			display: table;
			float: none;
			left: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.navbar{
		.nav{
			display: table;
			float: none;
			left: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.nav{
		>li{
			padding: 10px 15px 10px;
			>a{
				border-bottom: 1px solid @borderCallToActionColor;
				border-top: 1px solid @borderCallToActionColor;
				font-size: 22px;
				padding-left: 0;
				padding-right: 0;
				&:hover{
					background-color: transparent;
				}
			}
			>.separator{
				color: @navbarLinkColor;
			}
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}
		}
		.dropdown-menu{
			.border-radius(0 0 0 0);
			li{
				>.separator{
					color: @navbarLinkColor;
					&:hover{
						background-color: @dropdownmenuBorderColor;
					}
				}
			}
		}
	}
}


#sidebar1 {
	border-right: 2px solid @hrBorder;
	position: relative;
	.box-sizing(border-box);
	&:after{
		.border-radius(5px);
		background-color: @hrBorder;
		content: '';
		height: 12px;
		right: -7px;
		position: absolute;
		top: 0;
		width: 12px;
	}
	&:before{
		.border-radius(5px);
		background-color: @hrBorder;
		content: '';
		height: 12px;
		right: -7px;
		position: absolute;
		bottom: 0;
		width: 12px;
	}
}

#sidebar2 {
	border-left: 2px solid @hrBorder;
	position: relative;
	.box-sizing(border-box);
	&:after{
		.border-radius(5px);
		background-color: @hrBorder;
		content: '';
		height: 12px;
		left: -7px;
		position: absolute;
		top: 0;
		width: 12px;
	}
	&:before{
		.border-radius(5px);
		background-color: @hrBorder;
		content: '';
		height: 12px;
		left: -7px;
		position: absolute;
		bottom: 0;
		width: 12px;
	}
}


#sidebar1,#sidebar2{
	margin-top: 10px;
}

#main-content{
	.clearfix();
	section, aside {
		.box-sizing(border-box);
	}
}
#top{
	.moduletable{
		color: @white;
		background-color: @navbarBackground;
		margin-bottom: 0;
		.clearfix();
		a{
			color: @white;
		}
	}
	.module_ms1,
	.moduletable_ms1,
	.moduletext_ms1{
		&.first.last,&:first-child:last-child{
			margin-left: 0 !important;
			margin-right: 0;
		}
	}
	.module_ms2,
	.moduletable_ms2,
	.moduletext_ms2{
		&.first.last,&:first-child:last-child{
			margin-left: 0 !important;
			margin-right: 0;
		}
	}
	.module_ms4,
	.moduletable_ms4,
	.moduletext_ms4{
		&.first.last,&:first-child:last-child{
			margin-left: 0 !important;
			margin-right: 0;
		}
	}
}
#above-content,#below-content,#sidebar1,#sidebar2{
	.module_ms1,
	.moduletable_ms1,
	.moduletext_ms1{
		&.first.last,&:first-child:last-child{
			margin-left: 0 !important;
			margin-right: 0;
		}
	}
	.module_ms2,
	.moduletable_ms2,
	.moduletext_ms2{
		&.first.last,&:first-child:last-child{
			margin-left: 0 !important;
			margin-right: 0;
		}
	}
	.module_ms4,
	.moduletable_ms4,
	.moduletext_ms4{
		&.first.last,&:first-child:last-child{
			margin-left: 0 !important;
			margin-right: 0;
		}
	}
}
#grid-bottom{
	margin-bottom: 0;
}
#grid-bottom2{
	background-color: @navtabsBg;
	color: @white;
	font-size:  15px;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	> .row-fluid{
		position: relative;
		z-index: 3;
	}
	.bd-grid-bottom2{
		background-color: @navtabsBgHover;
		height: 40px;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	.module,
	.moduletext,
	.moduletable{
		padding: 10px;
		> h3{
			font-size: 18px;
			margin-bottom: 20px;
			margin-top: 0;
			text-transform: uppercase;
		}
	}
	.grid-bottom2-inner{
		position: relative;
		z-index: 3;
	}
	h1,h2,h4,h5,h6{
		margin-bottom: 0;
		font-weight: normal;
	}
	h3{
		font-weight: normal;
	}
}
#grid-top{
	margin-bottom: 0;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
	.box-shadow(none);
}
// Menu

#menu,
#bottom-menu {
	margin-bottom: 0;
}
.navbar .nav>li>a{
	text-shadow:none;
}
.navbar .nav>.active>span.separator, .navbar .nav>.active>span.separator:hover, .navbar .nav>.active>span.separator:focus{
	.box-shadow(none);
	background-color: @navtabsBgHover;
	color: @navbarLinkColor;
}
.navbar{
	li{
		a,span.separator{
			.transition(background-color .25s ease-in-out);
		}
		&:hover{
			> a,span.separator{
				background-color: @navbarLinkBackgroundHover;
			}
		}
	}
	.dropdown-menu{
		.box-shadow(none);
		border: none;
		border-top: 1px solid @dropdownmenuBorderColor;
		padding-bottom: 0;
		padding-top: 0;
		&:before,&:after{
			display: none !important;
		}
		li{
			a,span.separator{
				border-bottom: 1px solid @dropdownmenuBorderColor;
				padding-bottom: 7px;
				padding-top: 7px;
			}
			&:last-child{
				> a, > span.separator{
					border-bottom: none;
				}
			}
			&:hover{
				> a{
					background-color: @dropdownmenuBorderColor;
					background-image:none;
					-ms-filter:none;
					    filter:none;
				}		
			}
		}
		>.active{
			>a,>span.separator{
				background-color: @dropdownmenuBorderColor;
				background-image:none;
				-ms-filter:none;
				    filter:none;
			}
		}
	}
}
#toolbar{
	.navbar{
		li{
			a,span.separator{
				padding-left: 50px;
				padding-right: 50px;
			}
		}
		.dropdown-menu{
			li{
				a,span.separator{
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}

.navbar{
	margin-bottom: 0;
	.btn{
		font-size: 18px !important;
		margin-top: 0;
		padding-left: 55px !important;
		padding-right: 55px !important;
		text-align: center;
		&:hover{
			background-color: @btnBackgroundHighlight !important;
		}
	}
	.btn-navbar{
		padding: 7px 10px !important;
		&:hover{
			background-color: #1c2429 !important;
		}
	}
	.btn-primary{
		&:hover{
			background-color: @btnPrimaryBackgroundHighlight !important;
		}
	}
	.btn-info{
		&:hover{
			background-color: @btnInfoBackgroundHighlight;
		}
	}
	.btn-success{
		&:hover{
			background-color: @btnSuccessBackgroundHighlight;
		}
	}
	.btn-warning{
		&:hover{
			background-color: @btnWarningBackgroundHighlight;
		}
	}
	.btn-danger{
		&:hover{
			background-color: @btnDangerBackgroundHighlight;
		}
	}
	.btn-inverse{
		&:hover{
			background-color: @btnInverseBackgroundHighlight;
		}
	}
}
.navbar-inner{
	.border-radius(0 0 0 0);
	background-image:none;
	-ms-filter:none;
	    filter:none;
}
.nav-header{
	text-shadow: none;
}
// Menu Position
#top{
	background-image:none;
	-ms-filter:none;
	    filter:none;
	.moduletable{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.navbar .nav{
		>li{
			padding: 10px 15px 10px;
			>a{
				border-bottom: 1px solid @borderCallToActionColor;
				border-top: 1px solid @borderCallToActionColor;
				font-size: 22px;
				padding-left: 0;
				padding-right: 0;
				&:hover{
					background-color: transparent;
				}
			}
			>.separator{
				color: @navbarLinkColor;
			}
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}
			&:hover{
				a{
					background-color: transparent;
				}
			}
		}
		.dropdown-menu{
			.border-radius(0 0 0 0);
			li{
				>.separator{
					color: @navbarLinkColor;
					&:hover{
						background-color: @dropdownmenuBorderColor;
					}
				}
			}
		}
	}
}
.navbar{
	.nav{
		>li{
			>span.separator{
				color: @navbarLinkColor;
			}
		}
		.dropdown-menu{
			.border-radius(0 0 0 0);
			li{
				>span.separator{
					color: @navbarLinkColor;
					&:hover{
						background-color: @dropdownmenuBorderColor;
					}
				}
			}
		}
	}
}
// Joomla 3
// ------------------------------
.breadcrumb>li{
	text-shadow:none;
}
.filters .filter-search.alert.alert-info{
	background-color: transparent;
	border: none;
	margin-right: 5px;
	padding: 0;
}
.readmore .btn .icon-chevron-right{
	display:none;
}
.cat-children {
	.page-header.item-title{
		border: none;
	}
	.category-desc{
		padding: 0 34px;
	}
}
.categories-list{
	.page-header.item-title{
		border: none;
		padding-left: 15px;
		a i{
			display: none;
		}
	}
	.fade > div {
		padding-left: 15px;
	}
	.btn.btn-mini.pull-right{
		.border-radius(0 0 0 0);
		.box-shadow(none);
		border: none;
	}
}
.category-list{
	.page-header.item-title{
		border: none;
		padding-left: 15px;
	}
	.category-desc{
		padding-left: 15px;
	}
}
.contact {
	margin-bottom: 20px;
	.thumbnail.pull-right{
		float: none;
		display: table;
		margin-left: 140px;
	}
}
#myTab li {
	margin-bottom: 0;
}
.accordion-group{
	border-bottom-width:0;
	margin-bottom: 0;
	border-color: @hrBorder;
	&:last-child{
		border-bottom-color: @hrBorder;		
	}
}
.accordion-group{
	.border-radius(0 0 0 0);
}
#slide-contact.accordion{
	border-bottom: 1px solid @hrBorder;
}
.accordion-heading{
	a{
		font-size: 24px;
		font-weight: bold;
		font-family:'Montserrat' ;
	}
}
#advancedSearch {
	hr{
		display: none;
	}
	.advanced-search-tip{
		background-color: @wellBackground;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.list-striped li, .list-striped dd, .row-striped .row, .row-striped .row-fluid{
	border-bottom-color: @tableBorder
}
.list-striped, .row-striped{
	border-top-color: @tableBorder;
}
div.categories-list li {
	padding: 9px;
}
.accordion-inner{
	border-top-color: @wellBackground;
}
div:first-child+.panel{
	.border-radius(0 0 0 0);
}
.panel:last-child{
	.border-radius(0 0 0 0);
}
.nav-list>li>a, .nav-list .nav-header{
	text-shadow: none;
}
.header-absolute{
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 5;
}
// Shackslides 
#shackslides-row{
	position: relative;
	width: auto;
	#sliderNav ul li{ 
		display: block;
		overflow: hidden;
		&.active{
			a{
				background-color: white !important;
			}
		}
		a {
			background-color: @navtabsBg !important;
			border: 0;
			float: none;
			height: 10px!important;
			margin: 5px auto;
			padding: 0;
			text-indent: -9999px;
			width: 10px!important;
			-webkit-border-radius: 8px!important;
			   -moz-border-radius: 8px!important;
			        border-radius: 8px!important;
			&.sliderPrev,&.sliderNext{
				background-color: transparent !important;
				height: 13px !important;
				width: 19px !important;
			}
			&.sliderPrev{
				background-image: url(../../images/ss-prev.png) !important;
			}
			&.sliderNext{
				background-image: url(../../images/ss-next.png) !important;
			}
		}
	}
}
.shackSliderslider{
	margin-bottom: 0 !important;
}
.slideTitle{
	color: @white;
	text-align: center !important;
	h1{
		font-size: 52px;
	}
	h2{
		font-size: 32px;
	}
}
#sliderNav{
	position: absolute;
	right: 80px;
	z-index: 4;
	bottom: 0;
}
// // ---------------------------
.responsive-utilities-test li + li {
  margin-left: 10px;
}
.responsive-utilities-test li {
	position: relative;
	float: left;
	width: 25%;
	height: 43px;
	font-size: 14px;
	font-weight: bold;
	line-height: 43px;
	color: @grayLight;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.responsive-utilities-test span {
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.responsive-utilities-test span {
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
}
/* Fluid View
/**************************************************************************************************/
.fixed{
	.mondrian-main{
		margin-left: 0;
		margin-right: 0;
	}
}
.wrapper-footer {
	&.container-fluid{
	padding-left: 0;
	padding-right: 0;
	}
}

/* Sidenav for Docs
/**************************************************************************************************/
 
.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: @white;
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0;
  font-size: 16px;
  padding: 14px 14px;
  border-top: 1px solid #ddd;
}
.bs-docs-sidenav {
	> li:first-child a{
		border-top: none;
	}
}

.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  border: 0;
  color:@navtabsBgHover;
  &:before{
  	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid @navtabsBgHover;
	content: '';
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 0;
  }
}
// Chevrons 
.bs-docs-sidenav .icon-chevron-right {
   display: none !important;
}
.bs-docs-sidenav > li > a:hover {
  background-color: @white;
  color: @navtabsBgHover;
}

.bs-docs-sidenav.affix {
  top: 60px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 10px;
} 
// ---------------------------
.current section {
  padding-top: 30px;
}
.bs-docs-example {
	background-color: @white;
	margin: 10px 0;
	padding: 56px 40px 14px;
	position: relative;
	&:after {
		background-color:@navtabsBgHover;
		color: @white;
		content: "EXAMPLE";
		font-size: 13px;
		height: 46px;
		left: 0;
		line-height: 46px;
		padding: 0 5px;
		position: absolute;
		text-align: center;
		top: 0;
		width: 105px;
	}
}

.bs-docs-example-images {
	img {
		display: inline-block;
		.ie7-inline-block();
		margin: 10px;	
	}
}
.docs-input-sizes select, .docs-input-sizes input[type=text] {
	display: block !important;
	margin-bottom: 9px;
}
.inline-bq {
	div{
		display: inline-block;
		.ie7-inline-block();
		min-width: 80px;
		text-align: center;
 
		blockquote{
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
	}
	p{
		display: block;
	}
}
.the-icons {
	li {
		font-size: 12px;
		line-height: 2;
	}
	[class^="icon-"]:before, [class*=" icon-"]:before{
		width: 25px;
	}
	.icon-spinner.icon-spin:before{
		width: auto;
	}
}

body.is_internet.explorer.v_8 {
	&.mondrianFtBlog{
			.items-leading{
				.full-leading {
					background-color: @ms1Background;
					color: @ms1Color;
					padding: 0 5px;
				}
			}

		[class^="column-"], [class*="column-"] {
			&[class^="span"], &[class*="span"] {
				&:after{
					display: none;
				}
				&:before{
					display: none;
				}
			}
		}
		#sidebar1, #sidebar2 {
			&:after{
				display: none;
			}
			&:before{
				display: none;
			}
		}
	}
}

.mondrian-menu{
	.border-radius(4px);
	background-color: @mondrianMenuBackground;
	display: table;
	li{
		margin-bottom: 0;
		position: relative;
		ul{
			.border-radius(0 0 0 0);
			.box-shadow(none);	
			background-color: @mondrianMenuBackground;
			border: none;
			display: none;
			left: auto;
			padding: 0;
			right: 100%;
			top: 0;
			li a{
				color: @textColor;
				padding-bottom: 20px;
				padding-top: 20px;
				text-align: right;	
				&:hover{
					background-color: @grayLighter;
					background-image:none;
					color: @textColor;
					-ms-filter:none;
					    filter:none;
				}
			}
		}
		&:hover{
			> ul{
				display: block;
				top: 0;
			}
		}
	}
	>li{
		&:first-child{
			> a,>span{
				.border-radius(4px 4px 0 0);
			}
		}
		&:last-child{
			> a,>span{
				.border-radius(0 0 4px 4px);
			}
		}
		a,span{
			.transition(background-color .2s ease);
			padding: 10px;
		}
	}
}